# example docker env file for dev purposes

CAMPUSES=["UCB","UCD","UCI","UCLA","UCM","UCOP","UCR","UCSC","UCSD","UCSF"]

# to write files to S3
NUXEO_EXTENT_STATS_METADATA=s3://nuxeo-extent-stats/metadata
NUXEO_EXTENT_STATS_REPORTS=s3://nuxeo-extent-stats/reports

# to write files to local file system (inside container)
#NUXEO_EXTENT_STATS_METADATA=file:///nuxeo-extent-stats/metadata
#NUXEO_EXTENT_STATS_REPORTS=file:///nuxeo-extent-stats/reports

NUXEO_EXTENT_STATS_LOCAL_TEMPDIR=/nuxeo-extent-stats/tmp

# set to True as a workaround for when Nuxeo API was broken for ElasticSearch endpoint
NUXEO_API_ES_ENDPOINT_BROKEN=False

NUXEO_TOKEN=xxxx
NUXEO_API=https://nuxeo.cdlib.org/nuxeo/site/api/v1
S3_BUCKET=nuxeo-extent-stats

AWS_ACCESS_KEY_ID
AWS_SECRET_ACCESS_KEY
AWS_SESSION_TOKEN