export CAMPUSES=["UCB","UCD","UCI","UCLA","UCM","UCOP","UCR","UCSC","UCSD","UCSF"]

# to write files to S3
export NUXEO_EXTENT_STATS_METADATA=s3://nuxeo-extent-stats/metadata
export NUXEO_EXTENT_STATS_REPORTS=s3://nuxeo-extent-stats/reports

# to write files to local file system
#export NUXEO_EXTENT_STATS_METADATA=file:///Users/bhui/dev/nuxeo-extent-stats/output/metadata
#export NUXEO_EXTENT_STATS_REPORTS=file:///Users/bhui/dev/nuxeo-extent-stats/output/reports

export NUXEO_EXTENT_STATS_LOCAL_TEMPDIR=/Users/bhui/dev/nuxeo-extent-stats/tmp

# set to True as a workaround for when Nuxeo API was broken for ElasticSearch endpoint
export NUXEO_API_ES_ENDPOINT_BROKEN=False

export NUXEO_TOKEN=xxxxxxxxxx
export NUXEO_API=https://nuxeo.cdlib.org/nuxeo/site/api/v1